﻿@page
@{
    ViewData["Title"] = "Announcements";
}

<article class="container-fluid">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <span class="h2">Announcements</span>
            <span class="h2">
                <a class="btn btn-success btn-xs" href="#" aria-label="add announcement">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </span>
        </div>
    </div>
    <table class="table table-responsive table-condensed table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>High Priority</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">Good Luck on your presentation!</a></td>
                <td>6/20/2018</td>
                <td>6/22/2018</td>
                <td>Yes</td>
                <td>
                    <button class="btn btn-danger btn-xs" aria-label="remove announcement">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td><a href="#">Git Basics</a></td>
                <td>6/11/2018</td>
                <td>6/22/2018</td>
                <td>No</td>
                <td>
                    <button class="btn btn-danger btn-xs" aria-label="remove announcement">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</article>