﻿@page
@{
    ViewData["Title"] = "Announcement";
}
<article class="container-fluid">
    <div class="checkbox col-md-12">
        <label><input type="checkbox" value="">High Priority?</label>
    </div>
    <div class="form-group col-md-6">
        <label class="control-label" for="startDate">Start Date</label>
        <input id="startDate" type="date" name="startDate" class="form-control"/>
    </div>
    <div class="form-group col-md-6">
        <label class="control-label" for="startDate">End Date</label>
        <input id="endDate" type="date" name="endDate" class="form-control"/>
    </div>
    <div class="form-group col-md-12">
        <label class="control-label" for="title">Title</label>
        <input id="title" name="title" class="form-control"/>
    </div>
    <div class="form-group col-md-12">
        <label class="control-label" for="body">Body</label>
        <textarea id="body" name="body" class="form-control"></textarea>
    </div>

    <button class="btn btn-info col-md-offset-11 col-md-1">Save</button>
</article>
