﻿@page
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1>This project is for UI templates</h1>
    <article>
        Our final UI will use Angular. However, you won't be exposed to this until 6/14. In order to get as much UI work done as possible, we recommend:
        <br /><br />
        <ol>
            <li>Implement templates using static html syntax. <br /> <strong>Why?</strong> Angular will use it's own templating syntax so any Razor syntax used would just need to be replaced with static html and angular template syntax next week.</li>
            <li>Implement any custom styles using a &lt;style&gt; tag. <br /> <strong>Why?</strong> Angular uses modular css styles, so it is best keep the custom styles together.</li>
        </ol>
    </article>
</div>
