<p *ngIf="!announcements"><em>Loading...</em></p>

<div *ngIf="announcements">
    <article *ngFor="let announcement of announcements">
        <h1>{{ announcement.title }}</h1>
        <div [innerHTML]="announcement.body"></div>
    </article>
</div>
