﻿<article class="container-fluid">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <span class="h2">Announcements</span>
            <span class="h2">
                <a class="btn btn-success btn-xs" aria-label="add announcement" [routerLink]="['/announcementmodify']">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </span>
        </div>
    </div>
    <p *ngIf="!announcements"><em>Loading...</em></p>
    <table class="table table-responsive table-condensed table-striped" *ngIf="announcements">
        <thead>
            <tr>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>High Priority</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let announcement of announcements">
                <td><a [routerLink]="['/announcementmodify', announcement.id]">{{announcement.title}}</a></td>
                <td>{{announcement.startDate}}</td>
                <td>{{announcement.endDate}}</td>
                <td>{{announcement.isHighPriority}}</td>
                <td>
                    <button class="btn btn-danger btn-xs" aria-label="remove announcement" (click)="deleteAnnouncement(announcement.id)">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</article>